$W1920: "screen and (max-width: 1920px)";
$W1680: "screen and (max-width: 1680px)";
$W1440: "screen and (max-width: 1440px)";
$W1366: "screen and (max-width: 1366px)";
$W1280: "screen and (max-width: 1280px)";

@mixin mqshadow($mqString) {
    @media #{$mqString} {
        @content;
    }
}

@mixin mq($attr, $num) {
    @media #{$W1920} {
        #{$attr}: #{$num};
    }

    @media #{$W1680} {
        #{$attr}: $num / 1.5 * 1.3125;
    }

    @media #{$W1440} {
        #{$attr}: $num / 1.5 * 1.1125;
    }

    @media #{$W1366} {
        #{$attr}: $num / 1.5 * 1.0671;
    }

    @media #{$W1280} {
        #{$attr}: $num / 1.5 * 1;
    }
}

.viewpage {
    position: relative;
    width: 100%;

    .chnName {
        font-size: 40px;
        color: #ffffff;
    }

    .engName {
        font-size: 20px;
        color: #ffffff;
        opacity: 0.8;
    }

    .wrap {
        position: relative;
        background-color: white;
        margin-bottom: 100px;
        z-index: 100;

        .banner {
            width: 100%;
            background: url(../assets/banner.png) center 0 no-repeat;
            background-size: cover;
            position: relative;
            .canvas {
                position: absolute;
            }
            .bannerContainer {
                position: relative;
                margin: 0 auto;
                text-align: center;

                @include mq(padding-top, 325px);

                h2 {
                    @include mq(font-size, 60px);

                    color: #ffffff;
                }

                .silkRoad {
                    @include mq(height, 93px);
                    @include mq(margin-top, 65px);
                }

                .gradual {
                    background: url(../assets/gradual.png) center 0 no-repeat;
                    color: #ffffff;

                    @include mq(margin-top, 40px);
                    @include mq(height, 34px);
                    @include mq(line-height, 34px);
                }

                .samllFont {
                    font-size: 14px;
                    color: #ffffff;

                    @include mq(margin-top, 20px);
                }

                .loginContainer {
                    @include mq(margin-top, 104px);

                    .indexButt {
                        padding: 12px 52px 11px 52px;
                        background-color: #ffffff;
                        font-size: 16px;
                        color: #0054C0;
                        border-radius: 25px;
                    }

                    .personLogin {
                        margin-right: 40px;
                    }

                    .mouse {
                        @include mq(margin-top, 114px);
                        @include mq(margin-bottom, 83px);

                        animation: slide-down 2s infinite ease-out;
                    }
                }

                .itemBlock {
                    margin: 0 auto;
                    width: 1200px;
                    position: relative;
                    z-index: 100;

                    ul {
                        @include mq(margin-top, 34px);
                    }

                    .desBlock:hover {
                        @include mqshadow($W1920) {
                            box-shadow: 0 35px 40px 0 rgba(0, 114, 210, 0.2);
                        }


                        @include mqshadow($W1680) {
                            box-shadow: 0 35px 35px 0 rgba(0, 114, 210, 0.2);
                        }


                        @include mqshadow($W1440) {
                            box-shadow: 0 30px 40px 0 rgba(0, 114, 210, 0.2);
                        }


                        @include mqshadow($W1366) {
                            box-shadow: 0 28.5px 40px 0 rgba(0, 114, 210, 0.2);
                        }


                        @include mqshadow($W1280) {
                            box-shadow: 0 27px 40px 0 rgba(0, 114, 210, 0.2);
                        }
                    }

                    .desBlock {
                        @include mq(height, 470px);
                        @include mq(width, 350px);

                        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
                        background-color: #ffffff;
                        border-radius: 5px;
                        padding-left: 55px;
                        padding-right: 55px;
                        margin-right: 75px;
                        display: inline-block;
                        vertical-align: middle;

                        &:last-child {
                            margin-right: 0px;
                        }

                        img {
                            @include mq(height, 130px);
                            @include mq(width, 130px);
                            @include mq(margin-bottom, 42px);
                            @include mq(margin-top, 80px);
                        }

                        h2 {
                            @include mq(font-size, 24px);

                            color: #212121;
                        }

                        p {
                            @include mq(font-size, 16px);

                            color: #6F7479;

                            @include mq(line-height, 24px);
                            @include mq(margin-top, 34px);
                        }
                    }
                }
            }
        }

        .triangle {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -1px;
        }
    }

    .regionalStatus {
        background: url(../assets/regionalStatus.png) center 0 no-repeat;
        width: 100%;
        position: relative;
        z-index: 200;
        height: 420px;
        padding-top: 43px;
        text-align: center;

        .regionalNumber {
            position: relative;
            padding-top: 44px;
            height: 160px;
            width: 1000px;
            margin: 0 auto;

            div {
                display: inline-block;

                &.leftNumber {
                    position: absolute;
                    left: 0;
                }

                &.rightNumber {
                    position: absolute;
                    right: 0;
                }
            }

            h2 {
                @include mq(font-size, 90px);

                color: #212121;
            }

            p {
                @include mq(font-size, 18px);

                padding-top: 15px;
                color: #6F7479;
            }

            .line {
                background: #6F7479;
                height: 160px;
                width: 1px;
            }
        }
    }

    .enterWelcome {
        width: 100%;
        height: 718px;

        .gradientBlock {
            width: 100%;
            margin-bottom: 43px;

            @include mq(height, 100px);

            position: relative;

            .gradient {
                background-image: radial-gradient(60% 76%, #E0E0E0 0%, rgba(255, 255, 255, 0) 77%);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;

                @include mq(top, -45px);

                opacity: 0.5;
                filter: blur(12px);
            }
        }

        .TagsBlock {
            position: relative;
            width: 1200px;
            margin: 0 auto;
        }
        .tagsBall {
            width: 1200px;
            height: 350px;
            margin: 0 auto;
            position: relative;

            .tagsItem {
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                padding: .5em 2em;
                background-color: #0072D2;
                border-radius: 14px;
                will-change: transform;
            }
        }
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }

    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 8px, 0);
    }
}
