.userBoard {
    .sideContent {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        align-items: center;
        padding-top: 40px;
        height: 100%;

        .imgBlock {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: azure;
            margin-bottom: 15px;
        }

        p {
            padding: 10px 0 51px 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;

            ul > li {
                background: #FAFAFA;

                > img:first-child {
                    height: 0px;
                }

                &:last-child {
                    border-bottom: 0px;
                }
            }

            li {
                cursor: pointer;
                border-top: 1px #D0D3D5 solid;

                &:last-child {
                    border-bottom: 1px #D0D3D5 solid;
                }
            }

            li, .panel {
                display: flex;
                width: 100%;
                height: 60px;
                align-items: center;
                padding: 0 30px 0 30px;
                position: relative;

                span {
                    flex: auto;
                    padding-left: 20px;

                    &.active {
                        color: #0072D2;
                    }
                }

                img {
                    width: 24px;
                    height: 24px;
                }

                .activeTags {
                    background-image: linear-gradient(-132deg, #008DE1 0%, #0054C0 100%);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 8px;
                }
            }
        }

        :global {
            .ant-collapse .ant-collapse-item .ant-collapse-header .anticon {
                font-size: 25px;
                color: #6F7479;
                opacity: 0.5;
            }
            .ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded='true'] .anticon-caret-up svg {
                transform: rotate(180deg);
            }
            .ant-collapse > .ant-collapse-item > .ant-collapse-header .anticon-caret-up svg {
                transform: rotate(0);
                transition: transform 0.24s;
            }

            .ant-collapse {
                background-color: #fff;
                border-radius: 0px;
                border: 0;

                .ant-collapse-item {
                    border-bottom: 0px;

                    .ant-collapse-header {
                        padding: 0px;
                    }

                    .ant-collapse-content {
                        border-top: 0px;

                        .ant-collapse-content-box {
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}

.flowContentPop {
    padding: 40px 30px 40px 30px;
    width: 460px;

    .flowTitle {
        display: flex;
        font-size: 14px;
        color: #212121;
        letter-spacing: 0;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 12px;
            color: #91989E;
            letter-spacing: 0;
        }
        
        strong{
            font-size: 14px;
            color: #0072D2;
        }
    }

    .flowDes {
        display: flex;
        font-size: 12px;
        color: #91989E;
        letter-spacing: 0;
        align-items: center;

        i {
            width: 14px;
            height: 14px;
            margin-right: 5px;

            &.checking {
                background-image: url(image/icon/checking.svg);
                background-size: contain;
            }

            &.done {
                background-image: url(image/icon/done.svg);
                background-size: contain;
            }
        }
    }

    :global {
        .ant-steps-dot .ant-steps-item-content {
            width: 374px;

            .ant-steps-item-title {
                margin-bottom: 5px;
                width: 100%;
                padding: 0;
            }

            .ant-steps-item-description {
                padding-bottom: 35px;
            }
        }
    }
}
