.changeEtpInfo {
  padding: 30px 50px 0 50px;
  display: flex;
  flex-direction: column;

  .tips {
      display: flex;

      span {
          color: #0072D2;
      }

      img {
          padding-right: 5px;
      }
  }

  .titleBlock {
      display: flex;
      padding: 0 40px 0 40px;
      height: 110px;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 10px;
      background-color: #ffffff;

      img {
          height: 70px;
          width: 70px;
      }

      .breakLine {
          height: 50px;
          width: 1px;
          background: #D0D3D5;
          margin: 0 40px 0 40px;
      }

      span {
          flex: auto;
      }

      i {
          background: url(image/icon/checking.svg);
          width: 20px;
          height: 20px;
          margin: 0 5px 0 30px;
      }

      p {
          margin: 0;
          color: #FAAD14;
          font-size: 16px;
      }

      .typeBlock {
          width: 90px;
          height: 26px;
          background: rgba(111, 116, 121, 0.1);
          border: 1px solid #6F7479;
          border-radius: 2px;
          text-align: center;
          line-height: 26px;
          font-size: 14px;
          color: #6F7479;
      }
  }

  .detailContent {
      padding: 40px;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      margin: 10px 0 20px 0;

      .infoTitle {
          display: flex;
          margin-bottom: 20px;

          i {
              margin-right: 10px;
              height: 24px;
              width: 3px;
              background: #0072D2;
          }

          span {
              color: #212121;
              line-height: 24px;
          }
      }

      .row {
          font-size: 14px;
          color: #91989E;

          .col {
              display: flex;
              padding-bottom: 20px;

              .right {
                  flex: 1;
                  color: #212121;
                  margin-left: 5px;
              }
              .agreementImg {
                  height: 100px;
                  width: 158px;
              }
          }
      }

      .staffBlock {
          display: flex;
          margin-bottom: 20px;

          .staffItem {
              display: 'flex';
              flex-direction: 'column';
              margin-right: 20px;

              p {
                  margin-bottom: 10px;
              }

              .staffItemDetail {
                  display: flex;
                  flex-direction: column;
                  padding: 20px 20px 0 20px;
                  background: #F5F5F5;

                  .items {
                      display: flex;
                      padding-bottom: 20px;

                      img {
                          width: 20px;
                          height: 20px;
                      }

                      .breakLine {
                          background: #D0D3D5;
                          height: 14px;
                          width: 1px;
                          margin: 0 20px;
                      }
                  }
              }
          }
      }

      .grayBlock {
          padding: 20px 20px 0 20px;
          background: #F5F5F5;
          margin-bottom: 20px;
      }

      .rowBorder {
          border-top: 1px #D0D3D5 solid;
      }
  }
}
