.enterpriseHome {
    a {
        text-decoration:none !important;
        color: #6F7479 !important;
    }
    .shadowgray {
        color: #91989E !important;
    }

    .font24 {
        font-size: 24px;
        color: #212121;
        line-height: 24px;
    }

    .font10 {
        font-size: 14px;
        color: #91989E;
        letter-spacing: 0;
        text-align: center;
        margin: 0;
    }

    .font18 {
        font-size: 18px;
        letter-spacing: 0;
        margin: 0;
    }

    .font14 {
        font-size: 14px;
        color: #0072D2;
        line-height: 22px;
    }

    .font16 {
        font-size: 16px;
        color: #212121;
        line-height: 24px;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    :global {
        .ant-tabs-ink-bar {
            background-color: transparent;
        }

        .ant-tabs-bar {
            margin: 0 0 30px 0;
        }

        .ant-tabs-nav .ant-tabs-tab {
            padding: 0px 1px 0px 16px;
            margin: 45px 0 30px 0px;
            &:first-child {
                padding: 0px 1px 0px 0px;
            }
            &:last-child {
                border-right: 0px #D0D3D5 solid;

                .tabNameNum {
                    border-right: 0px #D0D3D5 solid;
                }
            }
        }

        .ant-tabs-nav .ant-tabs-tab-active {
            font-weight: 400;

            .tabName {
                color: #0072D2;
                border-bottom: 2px  #0072D2 solid;
            }
        }

        .ant-tabs-extra-content {
            height: 101px;
        }
    }
}

.form-table {
    border-top: 1px solid #91989E;
    border-bottom: 1px solid #C2C2C2;
    width: 100%;

    thead {
        border-bottom: 1px solid #C2C2C2;

        th {
            padding: 6px 0 6px 20px;
            font-size: 12px;
            color: #91989E;
            font-weight: normal;

            .form-table-th {
                display: inline-block;
                padding-left: 10px;
                border-left: 1px solid #D0D3D5;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #C2C2C2;
        }

        td {
            padding: 6px 0 6px 20px;
        }
    }

    tfoot {
        tr {
            border-bottom: 1px solid #C2C2C2;
        }

        td {
            padding: 6px 0;
        }
    }
}

i.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;

    &.checking {
        background: url(image/icon/checking.svg);
    }

    &.unsubmit {
        background: url(image/icon/unsubmit.svg);
    }

    &.checked {
        background: url(image/icon/checked.svg);
    }

    &.done {
        background: url(image/icon/done.svg);
    }

    &.checkin {
        background: url(image/icon/checkin.svg);
    }
}

.ant-form.estl-form {
    label {
        font-size: 12px;
        line-height: 40px;
    }

    .ant-btn-block.estl-form-add {
        height: 93.2px;
        background: #FAFAFA;
    }

    .estl-form-item {
        width: 50%;
        padding: 0 8px 10px;
        float: left;
    }

    .ant-upload-list-item {
        width: 23%;
        float: left;
        margin-right: 20px;
    }
}
