.establish {
    padding: 30px 50px 0 50px;
    display: flex;
    flex-direction: column;

    .searchBlock {
        display: flex;
        align-items: center;
        height: 100%;

        .searchInput {
            width: 280px !important;
        }

        .searchInput > input {
            border: 1px solid #D0D3D5;
            border-radius: 20px;
            background-color: transparent;
            width: 280px;
            height: 40px;
        }

        button {
            width: 180px;
            height: 40px;
            background: #0072D2;
            border-radius: 4px;
            margin-left: 20px;
            opacity: 0.85;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 24px;
        }
    }

    .tabName {
        font-size: 18px;
        color: #212121;
        padding-right: 5px;
    }

    .tabNameNum {
        font-size: 14px;
        color: #91989E;
        border-right: 1px #D0D3D5 solid;
        padding-right: 15px;
    }

    .col {
        margin-bottom: 30px;

        .tabContent {
            height: 156px;
            background: #FFFFFF;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;

            .tabContentInside {
                display: flex;
                padding: 28px 30px 28px 30px;

                img {
                    padding-right: 30px;
                    margin-right: 30px;
                    border-right: 1px #D0D3D5 solid;
                }

                .tabContentInsideRight {
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    .tabContentInsideTop {
                        display: flex;
                        padding-bottom: 15px;
                        border-bottom: 1px #D0D3D5 dashed;
                        align-items: center;
                        height: 40px;

                        .titleName {
                            font-size: 18px;
                            color: #212121;
                            flex: 1;
                        }

                        i {
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;

                            &.checking {
                                background: url(image/icon/checking.svg);
                            }

                            &.unsubmit {
                                background: url(image/icon/unsubmit.svg);
                            }

                            &.checked {
                                background: url(image/icon/checked.svg);
                            }

                            &.done {
                                background: url(image/icon/done.svg);
                            }

                            &.checkin {
                                background: url(image/icon/checkin.svg);
                            }
                        }

                        .statusText {
                            font-size: 16px;

                            &.checking {
                                color: #FAAD14;
                            }

                            &.unsubmit, &.checkin {
                                color: #6F7479;
                            }

                            &.done, &.checked {
                                color: #29C89B;
                            }
                        }
                    }

                    .tabContentInsideBottom {
                        display: flex;
                        padding-top: 30px;
                        justify-content: space-between;
                        align-items: center;

                        button {
                            background: rgba(111, 116, 121, 0.1);
                            padding: 3px 24px 3px 24px;
                            border: 1px solid #6F7479;
                            border-radius: 2px;
                            font-size: 14px;
                            color: #6F7479;
                            letter-spacing: 0;
                            text-align: center;
                            white-space: nowrap;
                        }

                        .operateBlock {
                            display: flex;
                            align-items: center;

                            span {
                                padding-right: 10px;
                                margin-right: 10px;
                                border-right: 1px #D0D3D5 solid;
                                white-space: nowrap;
                                cursor: pointer;

                                &:last-child {
                                    padding: 0;
                                    margin: 0;
                                    border: 0;
                                }

                                &.ensureButt {
                                    opacity: 0.85;
                                    color: #FFFFFF;
                                    text-align: center;
                                    line-height: 20px;
                                    background-image: linear-gradient(-132deg, #008DE1 0%, #0054C0 100%);
                                    box-shadow: 0 10px 10px 0 rgba(0, 126, 217, 0.2);
                                    border-radius: 15px;
                                    padding: 3px 15px 3px 15px;
                                }
                            }

                            i {
                                width: 20px;
                                height: 20px;
                                margin-right: 5px;

                                &.edit {
                                    background: url(image/icon/edit.svg);
                                }

                                &.delete {
                                    background: url(image/icon/delete.svg);
                                }

                                &.info {
                                    background: url(image/icon/info.svg);
                                }

                                &.query {
                                    background: url(image/icon/query.svg);
                                }

                                &.refuse {
                                    background: url(image/icon/refuse.svg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .flowContent {
        padding: 40px 30px 40px 30px;
        width: 460px;

        .flowTitle {
            display: flex;
            font-size: 14px;
            color: #212121;
            letter-spacing: 0;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: 12px;
                color: #91989E;
                letter-spacing: 0;
            }
        }

        .flowDes {
            display: flex;
            font-size: 12px;
            color: #91989E;
            letter-spacing: 0;
            align-items: center;

            i {
                width: 14px;
                height: 14px;
                margin-right: 5px;

                &.checking {
                    background-image: url(image/icon/checking.svg);
                    background-size: contain;
                }
            }
        }

        :global {
            .ant-steps-dot .ant-steps-item-content {
                width: 374px;

                .ant-steps-item-title {
                    margin-bottom: 5px;
                    width: 100%;
                    padding: 0;
                }

                .ant-steps-item-description {
                    padding-bottom: 35px;
                }
            }
        }
    }
}
