.changeEtpInfo {
    padding: 30px 50px 0 50px;
    display: flex;
    flex-direction: column;

    .tips {
        display: flex;

        span {
            color: #0072D2;
        }

        img {
            padding-right: 5px;
        }
    }

    .titleBlock {
        display: flex;
        padding: 0 40px 0 40px;
        height: 110px;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 10px;
        background-color: #ffffff;

        img {
            height: 70px;
            width: 70px;
        }

        .breakLine {
            height: 50px;
            width: 1px;
            background: #D0D3D5;
            margin: 0 40px 0 40px;
        }

        span {
            flex: auto;
        }

        .shadowButt {
            background-image: linear-gradient(-132deg, #008DE1 0%, #0054C0 100%);
            box-shadow: 0 10px 10px 0 rgba(0, 126, 217, 0.2);
            border-radius: 15px;
            width: 124px;
            height: 30px;
            opacity: 0.85;
            font-size: 14px;
            color: #FFFFFF;
            text-align: center;
            line-height: 20px;
        }
    }

    .detailContent {
        padding: 40px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin: 10px 0 20px 0;

        .infoTitle {
            display: flex;
            margin-bottom: 20px;

            i {
                margin-right: 10px;
                height: 24px;
                width: 3px;
                background: #0072D2;
            }

            span {
                color: #212121;
                line-height: 24px;
            }
        }

        .row {
            font-size: 14px;
            color: #91989E;

            .col {
                display: flex;
                padding-bottom: 20px;

                .right {
                    flex: 1;
                    color: #212121;
                    margin-left: 5px;
                }

                .agreementImg {
                    height: 100px;
                    width: 158px;
                }

                .attachment {
                    img {
                        height: 130px;
                        width: 130px;
                    }

                    .attachmentName {
                        font-size: 14px;
                        color: #0072D2;
                        text-decoration: underline;
                    }

                    i {
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;

                        &.word {
                            background: url(image/icon/word.svg);
                        }

                        &.pdf {
                            background: url(image/icon/pdf.svg);
                        }

                        &.xls {
                            background: url(image/icon/excel.svg);
                        }
                    }
                }
            }
        }

        .staffBlock {
            .staffItem {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                p {
                    margin-bottom: 10px;
                }

                .staffItemDetail {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 20px 0 20px;
                    background: #F5F5F5;

                    .items {
                        display: flex;
                        padding-bottom: 20px;

                        img {
                            width: 20px;
                            height: 20px;
                        }

                        .breakLine {
                            background: #D0D3D5;
                            height: 14px;
                            width: 1px;
                            margin: 0 20px;
                        }
                    }
                }
            }
        }

        .grayBlock {
            padding: 20px 20px 0 20px;
            background: #F5F5F5;
            margin: 10px 0 20px 0;
        }

        .rowBorder {
            border-top: 1px #D0D3D5 solid;
        }
    }
}
