
html, body, #root {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, table, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

a{ 
  text-decoration:none; 
  color:#ffffff; 
} 

h1, h2, h3, h4, h5, h6, strong, i {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

.warp {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
